body {
	/*margin: 0px auto;*/
	/*width:50%;*/
	background: url(../images/seamless_paper_texture.png);
	text-align: center;
}

.page-header{
	border-bottom: 2px solid #000;
	background-color: white;
}

ul {
	list-style: none;
}

#border {
	font-size: 20px;
}

#scribble {
	font-family: 'Shadows Into Light', cursive;
	font-size: 23px;
}
.header {
	color: #1ec0a7;
	/*text-decoration: underline;*/
	font-family: 'Special Elite', cursive;
  	text-shadow: 2px 2px 0px rgba(0,0,0,0.1);;
  	font-size: 3em;
}

#list {
	margin: 0px auto;
	width: 60% ;
	background: url(../images/linedpaper.png);
	border: 1px outset #000;
}

#upload{
	margin: 0px auto;
	width: 60%;
}

.newitem{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	/*border: 5px double black;
	height: 60px;
	width: 300px;
	padding: 10px;
	margin: 0px auto;*/
}
